<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prototipo.My.MySettings.p_cafeteriaConnectionString"
            connectionString="server=cafeteria.eastus2.cloudapp.azure.com;user id=proyectophp;password=123456;persistsecurityinfo=True;database=p_cafeteria"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>